@import "reset";
@import "mixins";
@import "fontfamily";

html{
	heigh: 100%;
	background: #9215f2;	
}
body {
	margin: 0 auto;
	color: white;
	@include gradientThreeColor(25%, 30%);
	width: 1280px;
	height: 100%;
	padding-top: 20px;
	font-size: 14px;
	font-family: $times;
	line-height: 1.4em;

	header {
		div#header-container{
			div#logo-container{
				margin-left:13px;
				float: left;
				margin-bottom: 30px;
			}
			div#reg-form-container{
				font-size: 0.9em;
				margin-right: 50px;
				text-align: right;
				float: right;		
				
				form {
					div {
						margin-left: 5px;
						
						input {
							width: 125px;
							margin-left: 5px;
							border-radius: 10px;
							border-style: flat;
							border-color: #8449b0;
							border-width: 1px;
							background: #b35ef3;
							margin-bottom: 7px;
							padding: 0 7px;
							color: white;
						}
					}
					button{
						float: left;
						color: white;
						background: #b35ef3;						
						font-weight: bold;
						font-size: 0.9em;
						border-radius: 7px;						
						border: 1px outset #603382;
						border-style: outset;
						padding: 3px 10px;						
					}
				}		
			}
		}

		nav {
			clear: left;
			margin-left: 30px;
			margin-bottom: 40px;
			width: 930px;
			font-size: 1.4em;
			ul#main-nav-list{
				border: 1px solid black;
				border-radius: 15px;
				padding: 15px;
				> li {
					display: inline-block;
					padding-right: 15px;
					a {
						color: white;
						text-decoration: none;
					}

					ul {						
						position: absolute;
                        display: none;
						padding: 10px;
                        background-color: rgba(179, 94, 243, 0.9);
                        border-radius: 5px;

						li {
							padding-top: 5px;
							width: 100%;

							a:hover {
								background: black;
								padding: 5px;
								border-radius: 5px;
								font-size: 0.8em;
							}
						}
					}

					&:hover {
						text-decoration: underline;
					}

					&:hover ul {
						display: block;
					}
				}
			}
		}
	}
	
	section{
		margin-left: 18px;
		margin-bottom: 10px;
		float: left;
		width: 68%;
		
		article{
			padding: 25px;
			border: 1px solid black;
			border-radius: 10px;
			margin-bottom: 20px;

			header {
				padding-left: 5px;
				margin-bottom: 10px;
				h1 {
					font-size: 1.4em;
					font-weight: bold;
				}
			}

			footer {
				p {
					text-align: right;
					font-size: 1.2em;
					font-weight: normal;

					a {
						text-decoration: none;
						color: #d08cf7;
					}
				}
			}
		}

	}

	aside{
		margin-right: 50px;		
		float: right;
		width: 310px;
		position: right;

		> ul{
			> li{
				padding: 10px;
				margin-top: 15px;
				border: 1px solid black;
				border-radius: 5px;

				h2 {
					font-size: 1.2em;
					font-weight: bold;
				}

				ul {
					margin-left: 35px;
					margin-top: 10px; 
					li {
						list-style-image: url("images/li-dot.png");						
					}
				}

				p {
					padding-left: 5px;
					margin-top: 10px;


					a {
						text-decoration: none;
						color: #ccccd1;
					}

					strong, em {
						font-weight: bold;
						color: #ccccd1;
					}

					em {
						font-style: italic;
						color: #ccccd1;
					}
				}
			}
		}
	}

	footer{		
		clear: both;
		height: 100%;
		p{
			font-weight: bold;
			text-align: center;
		}
	}

}
