@import "reset";
@import "mixins";


body
{
	font-size: 16px;
	color: #333333;

	div#wrapper {
		
		ul#popup-box {
			margin-top: 15px;
			margin-left: 15px;
			width: 110px;

			li.popup-item {
				padding-top: 5px;
				padding-bottom: 10px;
				padding-left: 5px;
				border-bottom: 1px solid black;		
				position: relative;						
				
				&:first-child {
					border-top: 1px solid black;
				}
				
				a {
					text-decoration: none;
					color: black;

					span.current {
						font-weight: bold;
					}

					img {
						width: 25px;
						height: 25px;
					}
				}

				div.invisible {
					display: none;
				}

				div.popup-content {
					position: absolute;
					margin-left: 115px;		
					top: 5px;	
					
					a.btn-popup-close {
						border: 1px solid black;
						border-radius: 5px;
						padding: 0 5px;
						position: absolute;
						top: 15px;
						right: 15px;

						&:hover {
							text-decoration: underline;
						}
					}

					div {
						width: 210px;

						fieldset {
							border: 1px solid black;
							padding-left: 15px;
							padding-bottom: 15px;
							padding-top: 15px;

							legend {
								padding: 0 5px;
								font-size: 1.2em;
								font-weight: bold;
							}

							button {
								border-radius: 15px;
								border-style: none;
								padding: 5px 10px; 
								@include gradient(#cacaca, 0%, #6c6c6c, 100%);
								color: #333333;

								&:hover {
									background: #cccccc;
								}
							}

						}
					}
				}
			}
		}
	}
}